.card {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.card__item {
    margin: 2rem;
    border: var(--line);
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 2rem;
    box-shadow: var(--shadow-light);
    width: 90%;
}

.confirmed {
    border-bottom: 5px solid rgba(0, 153, 255, 0.5);
}

.recovered {
    border-bottom: 5px solid rgba(108, 238, 173, 0.6);
}

.deaths {
    border-bottom: 5px solid rgba(255, 77, 77, 0.8);
}

.card__item__title {
    font-size: 2rem;
    color: var(--color-grey-dark-1);
    text-transform: uppercase;
}

.card__item__country {
    color: var(--color-grey-dark-2);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
