.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.information__card {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.information__card__item {
    border: var(--line);
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 2rem;
    box-shadow: var(--shadow-light);
    width: 90%;
}

.information__card__item:not(:last-child) {
    margin-right: 2rem;
}

.confirmed {
    border-bottom: 5px solid var(--color-confirmed);
}

.recovered {
    border-bottom: 5px solid var(--color-recovered);
}

.deaths {
    border-bottom: 5px solid var(--color-deaths);
}

.information__card__item__title {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-grey-dark-1);
    text-transform: uppercase;
}

.information__card__item__country {
    color: var(--color-grey-dark-2);
    font-size: 1.7rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.information__date {
    font-size: 1.5rem;
    color: var(--color-grey-dark-3);
}

@media (max-width: 770px) {
    .information__card {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .information__card__item {
        margin: 1rem 0;
    }
}
