:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-confirmed: rgba(0, 153, 255, 0.5);
    --color-recovered: rgba(108, 238, 173, 0.6);
    --color-deaths: rgba(255, 77, 77, 0.8);

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --line: 1px solid var(--color-grey-light-1);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--color-grey-light-1);
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-grey-dark-1);
}

.map {
    width: 90%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: -15rem;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .title {
        font-size: 2.8rem;
    }

    .map {
        margin-bottom: -7rem;
    }
}
